[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sfdep"]
	path = sfdep
	url = https://github.com/josiahparry/sfdep
[submodule "trendyy"]
	path = trendyy
	url = https://github.com/josiahparry/trendyy
